<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
    <mat-form-field>
        <mat-label>Placa do carro</mat-label>
        <input name="placa" [(ngModel)]="carro.placa" matInput required placeholder="Identifique a placa do carro (Ex: Flu-7799)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>marca do carro</mat-label>
        <input name="marca" [(ngModel)]="carro.marca" matInput required placeholder="Identifique a marca do carro (Ex: Gurgel)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Modelo do carro</mat-label>
        <input name="modelo" [(ngModel)]="carro.modelo" matInput required placeholder="Identifique o modelo do carro (Ex: Tocantins)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Ano do carro</mat-label>
        <input name="ano" [(ngModel)]="carro.ano" matInput required placeholder="Identifique o ano do carro (Ex: 1991)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Cor do carro</mat-label>
        <input name="cor" [(ngModel)]="carro.cor" matInput required placeholder="Identifique a cor do carro (Ex: Verde)">
    </mat-form-field>

    <mat-form-field>
        <mat-label>interior do carro</mat-label>
        <input name="interior" [(ngModel)]="carro.interior" matInput required placeholder="Identifique o interior do carro (Ex: Couro)">
    </mat-form-field>

    <!-- <mat-form-field>
        <mat-label>Dono do carro</mat-label>
        <input name="cliente" [(ngModel)]="carro.cliente" matInput required placeholder="Identifique o dono do carro (Ex: Valdysnei)">
    </mat-form-field> -->

</form>