<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <a [routerLink]="['/cliente']" mat-menu-item>
        <mat-icon> account_box </mat-icon>Cliente
    </a>
    <a [routerLink]="['/carro']" mat-menu-item>
        <mat-icon> directions_car </mat-icon>Carro
    </a>
    <a [routerLink]="['/peca']" mat-menu-item>
        <mat-icon> build </mat-icon>Peças
    </a>
    <a [routerLink]="['/funcionario']" mat-menu-item>
        <mat-icon> engineering </mat-icon>Funcionários
    </a>
    <a [routerLink]="['/manutencao']" mat-menu-item>
        <mat-icon> handyman </mat-icon>manutencao
    </a>
    <a [routerLink]="['/servico']" mat-menu-item>
        <mat-icon> receipt </mat-icon>Serviço
    </a>

</mat-menu>