<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon> account_box </mat-icon>Cliente
    </button>
    <button mat-menu-item>
        <mat-icon> directions_car </mat-icon>Carro
    </button>
    <button mat-menu-item>
        <mat-icon> build </mat-icon>Peças
    </button>
    <button mat-menu-item>
        <mat-icon> engineering </mat-icon>Funcionários
    </button>
    <button mat-menu-item>
        <mat-icon> receipt </mat-icon>Serviço
    </button>
    <button mat-menu-item>
        <mat-icon> group </mat-icon>Quem somos
    </button>
</mat-menu>