<table mat-table [dataSource]="carros" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Placa Coluna -->
    <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let carro"> {{carro.placa}} </td>
    </ng-container>

    <!-- Marca Coluna -->
    <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let carro"> {{carro.marca}} </td>
    </ng-container>

    <!-- Modelo Coluna -->
    <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let carro"> {{carro.modelo}} </td>
    </ng-container>

    <!-- Ano Coluna -->
    <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef> Ano </th>
        <td mat-cell *matCellDef="let carro"> {{carro.ano}} </td>
    </ng-container>

    <!-- Cor Coluna -->
    <ng-container matColumnDef="cor">
        <th mat-header-cell *matHeaderCellDef> Cor </th>
        <td mat-cell *matCellDef="let carro"> {{carro.cor}} </td>
    </ng-container>

    <!-- Interior Coluna -->
    <ng-container matColumnDef="interior">
        <th mat-header-cell *matHeaderCellDef> Interior </th>
        <td mat-cell *matCellDef="let carro"> {{carro.interior}} </td>
    </ng-container>

    <!-- Cliente Coluna -->
    <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> cliente </th>
        <td mat-cell *matCellDef="let carro"> {{carro.cliente}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>