<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

    <mat-form-field>
        <mat-label>Carro</mat-label>
        <mat-select name="carro" [(ngModel)]="servico.carro">
            <mat-option *ngFor="let carro of carros" [value]="carro._id">{{carro.placa}} ({{carro.marca}})</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>manutencao</mat-label>
        <mat-select name="manutencao" [(ngModel)]="servico.manutencao">
            <mat-option *ngFor="let manutencao of manutencoes" [value]="manutencao._id">{{manutencao.horario_inicial}} {{manutencao.horario_termino}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>peca</mat-label>
        <mat-select name="manutencao" [(ngModel)]="servico.peca">
            <mat-option *ngFor="let peca of pecas" [value]="peca._id">{{peca.nome}} ({{peca.valor}})</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">
                Salvar
            </button>
            <button mat-raised-button type="button" (click)="voltar(f)">
                Voltar
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</form>