mat-toolbar {
    // Centralizar
    justify-content: center;


    // Fonte
    font-size: 90%;

    // altura tubar
    height: 50px;

    //Posicionando a toolbar
    position: fixed;
    bottom: 0;

    //Margem
    margin-top: 32px;

}