mat-toolbar {
    // Centralizar
    justify-content: center;


    // Fonte
    font-size: 90%;

    // altura tubar
    height: 50px;

    //Posicionando a toolbar
    position: fixed;
    bottom: 0;

    //Margem
    margin-top: 32px;

    mat-icon{
    width: 14px;
    height: 14px;
    font-size: 14px;
    vertical-align:text-top;
    }

}